#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  background-color: #f7f7f7;
  border-radius: 16px;
}
#siteName {
  font-family: "Bruno Ace SC", cursive;
  font-weight: 700;
  font-size: 3rem;
  background: linear-gradient(to right, #ff52dc, #4a4aff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin-right: 1rem;
}
nav a {
  color: #fff;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
